SERVICE_NAME=in-app-notification-service
VERSION=1.0.0
DEBUG=false
PORT=8004

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/in_app
REDIS_URL=redis://localhost:6379/0

WEBSOCKET_SERVICE_URL=http://websocket-service:8006
NOTIFICATION_SERVICE_URL=http://notification-service:8000
